<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item dropdown {% if 'store' in request.path %} active {% endif %}">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Departments
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Civil_engineering">Civil
                        Engineering</a></li>

                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Chemical_engineering">Chemical Engineering</a></li>
                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Mechanical_engineering">Mechanical Engineering</a></li>
                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Electrical_engineering">Electrical Engineering</a></li>
                    <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_engineering">Computer Engineering</a></li>



                </ul>
            </li>

        </ul>

    </div>
</nav>